"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "about"
      "archive-view"
      "background-tips"
      "dev-live-reload"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "welcome"
      "styleguide"
      "package-generator"
      "metrics"
      "language-source"
      "language-rust-bundled"
      "language-ruby-on-rails"
      "language-ruby"
      "language-python"
      "language-perl"
      "language-objective-c"
      "language-java"
      "exception-reporting"
      "encoding-selector"
      "keybinding-resolver"
      "go-to-line"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 26
    invisibles: {}
    lineHeight: 1.85
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "ef4c678b-0720-4392-a0f1-0ac8761c1048"
  "find-and-replace":
    useRipgrep: true
  "git-diff":
    showIconsInEditorGutter: true
  "gruvbox-plus-syntax":
    contrast: "Soft"
    variant: "No Dimmed Colors"
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
  "linter-ui-default":
    showPanel: true
    showStatusBar: false
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui": {}
  "seti-syntax": {}
  "seti-ui":
    compactView: true
    fileIcons: false
  "tree-view": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
