# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[user]
  email = pflauder@gmail.com
  name = FPierre
[core]
  editor = nano
[color]
  ui = auto
  excludesfile
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  ad = add -A
  di = diff
  me = merge
  fe = fetch --all -p
[pull]
  rebase = false
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
