[user]
  email = pflauder@gmail.com
  name = FPierre
[core]
  editor = nano
[color]
  ui = auto
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  ad = add -A
  di = diff
  me = merge
  fe = fetch --all -p
[pull]
  rebase = false
[push]
	default = current
[init]
	defaultBranch = main
